.page-body-contact{
    max-width: 700px;
      margin: 0 auto;
      padding: 10px;
      padding-top: 25px;
  }
  
  .page-title-contact{
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: var(--brandingColor);
    border-bottom: 2px solid var(--backgroundColor3);
  }
  
  .contact-text{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--textColor2);
      margin-top: 20px;
  }
  
  .contact-container{
    display: grid;
      margin-top: 25px;
      grid-gap: 20px;
  }
  
  .contact-container .card{
    border: none;
      box-shadow: 0 0 5px var(--boxShadowColor);
      background: var(--backgroundColor1);padding: 10px;
      border-radius: 10px;
  }
  .contact-container .card .title{
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 550;
      color: var(--textColor1);
  }
  .contact-container .card .value{
      font-size: 18px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 400;
      color: var(--textColor2);
      margin-left: 20px;
  }